body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, Arial, -apple-system, "Segoe UI", sans-serif;
    font-size: 13px;
    color: #222;
    text-decoration: none;
    background: #fff;
}

img {
    height: auto;
}

p {
    margin: 0 0 15px 0;
}

h1, h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 1.6rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.3rem;
}

table th {
    font-weight: normal;
}

header {
    margin: 0 0 20px 0;
}
nav #logo {
    width: 30px;
}
nav .logout {
    border: none;
    border-radius: initial;
}

article {
    padding: 20px;
}
article .alert-success i.fa {
    font-size: 18px;
    position: relative;
    top: 2px;
}

.dropdown-menu {
    font-size: inherit;
}

form label {
    font-weight: normal;
    margin: 0 0 2px 2px;
}
form input, form textarea, form select {
    font-size: inherit;
    border-radius: 0 !important;
    box-shadow: none !important;
}
form .form-control, button, .btn {
    font-size: inherit;
}
.btn {
    border-radius: 2px;
}
.btn:focus {
    box-shadow: none !important;
}
.btn-success {
    background-color: #388e3c;
}

table#posts .dropdown-menu i.fa {
    margin: 0 3px 0 0;
    color: #78909C;
}
